
@{
}
<h1>My classes</h1>

<table border="2">
	<tr>
		<th>Time</th>
		<th>Class</th>
	</tr>
	<tr>
		<td>9 AM</td>
		<td>Reformer session</td>
	</tr>
	<tr>
		<td>10.30 AM</td>
		<td>Cardio sculpt</td>
	</tr>
	<tr>
		<td>11.30 AM</td>
		<td>Inro session</td>
	</tr>
	<tr>
		<td>2 PM </td>
		<td>Reformer Pilates</td>
	</tr>
	<tr>
		<td>3.30 PM</td>
		<td>Piyo</td>
	</tr>
</table>