
@{
}
<h1>Classes We Offer</h1>
<marquee>New classes are added each month so check back</marquee>

<table border="2">
	<tr>
		<th>Class</th>
	</tr>
	<tr>
		<td>Reformer session</td>
	</tr>
	<tr>
		<td>Cardio sculpt</td>
	</tr>
	<tr>
		<td>Inro session</td>
	</tr>
	<tr>
		<td>Reformer Pilates</td>
	</tr>
	<tr>
		<td>Piyo</td>
	</tr>
	<tr>
		<td>Tower Pilates(advanced)s</td>
	</tr>
</table>