
@{
}
<h1>Meet our Instructors</h1>

<p>
	<h4>Tracy</h4>
	<p>Tracey is a certified PMA instructor ,she has been teaching Pilates for over 10 years. <p>

	<h4>Maya</h4>
	<p>Maya is former Kundalini Yoga instructor turned pilates nut she teaches a good mix of pilates and yoga  <p>
	
	<h4>Amber</h4>
	<p>Amber offers Reformer Sessions and works with individuals who have injuries<p>

	
</p>