
@{
	
}
<!DOCTYPE html>
<html>
<head>
	<title>Studio Zen</title>
</head>
<body>
	<nav>
		<p><a asp-controller="Main" asp-action="ClassSchedule">Class Schedule</a></p>
		<p><a asp-controller="Main" asp-action="ClassInfo">Class Information</a></p>
		<p><a asp-controller="Main" asp-action="DisplayInstructors">Meet Instructors</a></p>
	</nav>
	<video src="https://www.youtube.com/watch?v=CZgDNPGZ9Sg" controls></video>

</body>
</html>